@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SUIT", ui-sans-serif, system-ui, sans-serif;
}
